{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
	Dodawnie łodzi
{% endblock title %}

{% block content %}
<div class="container has-background-link-light px-4 py-4">
    <div class="columns">
    <div class="column">
        <form method="POST" enctype="multipart/form-data">

        {% csrf_token %}

        {{ form | crispy }}
        <button class="button is-link" type="submit">Zapisz</button>
        </form>

        {% if error %}
        <h3>{{ error }}</h3>
        {% endif %}
        {% if form.errors %}
        <p>Form has errors:</p>
        <ul>
            {% for error in form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="column"></div>
    </div>
</div>
{% endblock content %}